body {
    background-color: rgb(232, 242, 246);
}

#itemList {
    background-color: lightgray;
}

#completed-task {
    background-color: rgb(173, 223, 173);
}

.hightlight {
    background-color: rgb(129, 171, 129);
}